.container {
  margin: 10px 0;
}

.card {
  background-color: rgb(255, 243, 224) !important;
}

.cardActions {
  & svg { font-size: 1.8rem; }
  justify-content: space-between;
  cursor: pointer;
  height: auto !important;
  background-color: #ffcc80;
  display: flex;
}

.cardActionTitle {
  text-shadow: 0 0 4px #fff, 0 0 2px #fff;
  padding-left: 8px;
  font-weight: bold;
  word-break: break-word;
}

.count {
  font-size: x-small;
  padding-left: 5px;
}
