.moreVertIcon {
  color: white !important;
}

.button {
  min-width: 50px !important;
  margin-right: -8px !important;
  min-height: 36px;
  /*2019 08 20: no idea why height suddenly is too small*/
  span {
    height: 36px;
  }
}

.version {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
}
