.container {
  display: flex;
  align-content: stretch;
  padding: 4px 16px;
  width: 100%;
  @container (min-width: 800px) {
    width: calc(50cqw - 32px);
  }
  @container (min-width: 1200px) {
    width: calc(33cqw - 32px);
  }
  @container (min-width: 1600px) {
    width: calc(25cqw - 32px);
  }
}
