.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.list {
  column-width: 400px;
  margin-bottom: 10px;

  ul {
    -webkit-margin-before: 0px;
  }
}

.a {
  color: inherit;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}
