.container {
  display: flex;
}

.labelClass {
  flex-basis: 250px;
  text-align: right;
  padding-right: 5px;
  margin: 3px 0;
  padding: 2px;
  color: grey;
}

.userContainer {
  margin: 3px 0;
  padding: 2px;
  width: 100%;
}

.a {
  color: inherit;
  font-weight: 100;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}
