.titleContainer {
  display: flex;
  padding-top: 10px;
}

.titleLabel {
  flex-basis: 250px;
  text-align: right;
  padding-right: 5px;
  margin: 3px 0;
  padding: 2px;
  color: grey;
}

.titleLabelEditing {
  margin: 3px 0;
  padding-bottom: 2px;
}

.titleLabelStacked {
  margin: 3px 0;
  padding-bottom: 2px;
  color: grey;
}

.titleValue {
  margin: 3px 0;
  padding: 2px;
  width: 100%;
}
