# see: https://caddyserver.com/docs/caddyfile/concepts

{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

api.arteigenschaften.ch {
  reverse_proxy /graphql* {
    to ae_graphql:5000
    header_down Access-Control-Allow-Origin *
  }
  reverse_proxy /graphiql* {
    to ae_graphql:5000
    header_down Access-Control-Allow-Origin *
  }
}

# api.artdaten.ch {
#   reverse_proxy /graphql* {
#     to ae_graphql:5000
#     header_down Access-Control-Allow-Origin *
#   }
#   reverse_proxy /graphiql* {
#     to ae_graphql:5000
#     header_down Access-Control-Allow-Origin *
#   }
# }
