.card {
  margin: 0;
  background-color: rgb(255, 243, 224) !important;
}

.cardActions {
  justify-content: space-between;
  cursor: pointer;
  height: auto !important;
  background-color: #fff3e0;
  border-bottom: 1px solid #ebebeb;
}

.cardActionTitle {
  padding-left: 8px;
  font-weight: bold;
  word-break: break-word;
}

.collapse {
  display: flex;
  flex-direction: column;
  padding: 8px 14px;
}

.propertiesContainer {
  display: flex;
  flex-wrap: wrap;
  container-type: inline-size;
}

.count {
  font-size: x-small;
  padding-left: 5px;
}
