.container {
  margin-left: 39px;
  margin-bottom: 10px;
  margin-top: 3px;
}

.title {
  margin-left: -5px;
}

.label {
  height: 33px;
  min-height: 33px;
  margin-left: -20px !important;

  > span {
    font-weight: 500;
    line-height: 1em;
  }
}
