.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .react-grid-Container {
    font-size: small;
  }
  .react-grid-HeaderRow {
    overflow: hidden;
  }
  .react-grid-HeaderCell:not(:first-of-type) {
    border-left: #c7c7c7 solid 1px !important;
  }
  .react-grid-HeaderCell__draggable {
    right: 16px !important;
  }
  .react-grid-Cell {
    border: #ddd solid 1px !important;
  }
}

.dropzoneContainer {
  padding: 10px 8px;
  div {
    width: 100% !important;
    height: 124px !important;
    cursor: pointer;
  }
}

.dropzone {
  padding: 8px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.dropzoneActive {
  padding: 8px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  background-color: rgba(255, 224, 178, 0.2);
}

.button {
  border: 1px solid !important;
  margin: 8px 8px 16px 8px !important;
}

.total {
  font-size: small;
  padding-left: 9px;
  margin-top: 8px;
}

.snackbar {
  div {
    min-width: auto;
    background-color: #2e7d32 !important;
  }
}
