.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  column-width: 600px;
}

.cardEditButton {
  align-self: flex-end;
}

.formControl {
  margin: 5px 0 5px 0 !important;
  display: block;
  > div {
    width: 100%;
  }
}
