.button {
  min-width: 54px !important;
  max-width: 54px !important;
  min-height: 48px !important;
  margin-right: -8px !important;
  border-radius: 80px !important;
  font-size: 1.5em;
}

.linkIcon {
  color: rgba(0, 0, 0, 0.54);
}
