.container {
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.scrollContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow-y: auto;
  /* prevent layout shift when scrollbar appears */
  scrollbar-gutter: stable;
}

/* TODO: */
/* use container-queries when they are supported by all browsers */
/* meanwhile: deduce width from window width */
/* stacked when < 700 */
/* tree: in standard .35 of width */
.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 25px;
  @media (min-width: 1231px) {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 35px;
  }
  @media (min-width: 1847px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 45px;
  }
  p {
    margin-bottom: 10px !important;
  }
  p:last-of-type {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
  }
  position: relative;
  color: black !important;
}

.card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 700;
  ul {
    margin-bottom: 0;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
  li {
    font-weight: 500;
  }
}

.cardTitle {
  font-weight: 700;
  margin: 0 0 12px 0;
}

.dokuLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    text-decoration: underline;
  }
}
