.snackbar {
  div {
    min-width: auto;
    background-color: #2e7d32 !important;
  }
}

.card {
  margin: 10px 0;
  background-color: rgb(255, 243, 224) !important;
}

.cardActions {
  justify-content: space-between;
  cursor: pointer;
  height: auto !important;
  background-color: #ffcc80;
}

.cardActionTitle {
  padding-left: 8px;
  font-weight: bold;
  word-break: break-word;
}

.container {
  padding: 0 5px;
  /* overflow-x: hidden !important;
  height: 100%; */
  user-select: none !important;
}
