.container {
  padding: 0 5px;
}

.paperTextContainer {
  padding: 16px;
}

.propertyText {
  padding-bottom: 5px;
}

.paper {
  width: 100%;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
