.container {
  height: 100%;
  overflow: hidden;
}

.errorContainer {
  padding: 10px;
}

.firstTitle {
  margin: 10px 0 5px 0;
  padding-left: 12px;
}

.title {
  margin: 15px 0 5px 0;
  padding-left: 12px;
}

.titleSpan {
  font-weight: normal;
  font-size: small;
  margin-left: 4px;
}
