.card {
  margin: 10px 0;
  background-color: rgb(255, 243, 224) !important;
}

.cardActions {
  & svg { font-size: 1.8rem; }
  justify-content: space-between;
  cursor: pointer;
  height: auto !important;
}

.cardActionTitle {
  text-shadow: 0 0 4px #fff, 0 0 2px #fff;
  padding-left: 8px;
  font-weight: bold;
  word-break: break-word;
}

.cardContent {
  padding: 0 16px 0 0 !important;
  margin: -10px 0 0 0;
  li {
    margin-top: 8px;
  }
}
