.node {
  height: 23px;
  max-height: 23px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.icon {
  font-size: small;
  width: 20px !important;
  height: 20px !important;
}
